<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter"/>

    <bean id="cacheService" class="net.milanaleksic.test.ehcachesimplesessionsample.service.impl.EhCacheServiceImpl">
        <property name="cacheManager" ref="cacheManager" />
        <property name="cacheName" value="session-cache" />
    </bean>

    <bean id="sessionService" class="net.milanaleksic.test.ehcachesimplesessionsample.service.impl.SessionServiceImpl">
        <property name="illegalAccessViewName" value="redirect:/" />
        <property name="expirationInSeconds" value="#{20*60}" />
        <property name="cacheService" ref="cacheService" />
        <property name="logOutUri" value="/logOut" />
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" />

</beans>